.container-left-menu{
  position: fixed;
  background: white;
  width: 16%;
  height: 100%;
  z-index: 8;
  @include hover-time-all;
}

.wrapper-left-menu{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  box-shadow: 12px 2px 14px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
  .wrapper-left-menu_logo{
    padding-top: 15%;
    width: 100%;
    position: relative;
    z-index: 2;
    .block-left-menu_logo{
      width: 183px;
      height: 89px;
      margin: 0 auto;
      display: block;
    }
  }
}

.wrapper-left-menu_nav{
  width: 100%;
  margin-top: 25%;
  //position: relative;
  z-index: 3;
  ul{

  }
  li{
    width: 100%;
    @include hover-time-run;
    cursor: pointer;
    &:hover{
      background-color: #eb1c24;
      .box-hover-menu{
        color: white;
      }
    }
    .box-hover-menu{
      @include fontTTRoundsCondensedR;
      font-size: 18px;
      font-stretch: condensed;
      line-height: 1.8;
      color: #000000;
      @include hover-time-run;
      display: block;
      padding: 14px 22%;
      span{
        width: 148px;
        margin: 0 auto;
        display: block;
      }
    }
    .box-hover-menu.active{
      background-color: #eb1c24;
      color: white;
    }
  }
  li.active{
    border-left: 3px solid #eb1c24;
    .active-link{
      transition: all .4s ease-out;
    }
    &:hover{
      background-color: white;
      .box-hover-menu{
        color: #eb1c24;
      }
      .active-link{
        color: white;
      }
    }
  }
}

.wrapper-left-menu_img{
  position: absolute;
  background-image: url("../img/List_png_left_menu.png");
  width: 90%;
  height: 255px;
  object-fit: contain;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  background-position: bottom left;
}

.wrapper-btn-personal-area{
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
  bottom: 75px;
  .btn-personal-area{
    position: relative;
    font-size: 0px;
    width: 183px;
    height: 45px;
    margin: 0 auto;
    cursor: pointer;
    padding: 13px 15px;
    &:after{
      content: ' ';
      position: absolute;
      width: 183px;
      height: 45px;
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      top: 0;
      left: 0;
      @include hover-time-run;
    }
    .icon-personal-area{
      @include display-inline-middle;
      position: relative;
      z-index: 2;
      background-image: url("../img/svg/fill-1.svg");
      width: 20px;
      height: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 16px;
    }
    .txt-personal-area{
      @include display-inline-middle;
      @include fontTTRoundsCondensedR;
      font-size: 16px;
      font-stretch: condensed;
      text-align: center;
      color: #39b54a;
      position: relative;
      z-index: 2;
    }
  }
  .btn-personal-area:hover{
    &:after{
      background-color: #ffffff;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    }
  }
  .btn-personal-area:focus{
    &:after{
      background-color: #f9f9f9;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.wrapp_menu_categories-content{
  .menu_categories-content{
    position: fixed;
    top: 0;
    left: 16%;
    //left: -100%;
    width: 470px;
    height: 100%;
    background-color: #eb1c24;
    transition: all 1s ease-in-out;
    display: none;
    .menu-list{
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      .menu-list_link{
        display: block;
        position: relative;
        @include fontTTRoundsCondensedB;
        font-size: 20px;
        font-stretch: condensed;
        line-height: 1.5;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        padding: 20px 10px;
        @include hover-time-run;
        &:after{
          content: '';
          display: block;
          width: 90%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.3);
          margin: 0 auto;
          @include hover-time-run;
          bottom: 0;
          left: 5%;
          position: absolute;
        }
        &:last-child:after{
          background-color: inherit;
        }
        &:hover{
          background-color: #c20007;
        }
        &:hover{
          &:after{
            background-color: inherit;
          }
        }
      }
    }
  }
}

.menu_categories{
  position: relative;
  z-index: 2;
}

.box-m{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  top: 0;
}

.container-white-block{
  position: absolute;
  top: 0;
  left: -300%;
  width: 720px;
  height: 100%;
  background-color: #f9f9f9;
  transition: all 0.5s ease-in-out;
  .btn-close{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 30px;
    right: -70px;
    cursor: pointer;
    path{
      @include hover-time-run;
    }
    &:hover{
      path{
        fill: #d9d9d9;
      }
    }
  }
}

.wrapper-white-block{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.block-white-tabs{
  width: 337px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.wrapper-white-tabs{
  position: relative;
  width: 100%;
  .block-white-block_title{
    @include fontTTRoundsCondensedB;
    font-size: 36px;
    font-stretch: condensed;
    line-height: 1;
    text-align: left;
    color: #000000;
    margin-bottom: 125px;
  }
  .block-white-block_btn-tabs{
    position: absolute;
    top: 80px;
    left: 0;
    width: 285px;
    border-bottom: 1px solid #cdcdcd;
    font-size: 0;
    .tab-link{
      @include display-inline-top;
      @include fontTTRoundsCondensedR;
      font-size: 16px;
      font-stretch: condensed;
      line-height: 3.8;
      text-align: left;
      color: #5e5e5e;
      margin-bottom: -2px;
      margin-right: 50px;
      cursor: pointer;
      @include hover-time;
      &:hover{
        color: #000000;
      }
    }
    .tab-link.current-f{
      color: #000000;
      border-bottom: 3px solid #eb1c24;
    }
  }
}

.wrapper-white-block-tabs.current-f{
  display: inherit;
}

.wrapper-white-block-tabs{
  display: none;
}

.wrapper-white-block-tabs_form{
  width: 285px;
  .link-pass-no{
    text-align: right;
    @include fontOpenSans300;
    font-size: 14px;
    line-height: 1.71;
    color: #39b54a;
    display: block;
    @include hover-time;
    &:hover{
      color: #1ea832;
    }
    &:focus{
      color: #149f27;
    }
  }

  .link-pass-no + .box-btn-form{
    margin-top: 11px;
  }

  .box-btn-form{
    margin-top: 45px;
  }
}

.box-input{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  .form-label{
    margin-bottom: 10px;
    .input-label{
      @include fontOpenSans300;
      font-size: 14px;
      line-height: 1.71;
      text-align: left;
      color: #b5b3b3;
      span{
        color: #eb1c24;
      }
    }
  }
  .form-input{
    .input-box{
      width: 100%;
      border-radius: 2px;
      border: solid 1px #b5b3b3;
      @include fontOpenSans300;
      font-size: 16px;
      line-height: 1.5;
      text-align: left;
      color: #000000;
      @include hover-time-all;
      padding: 12px 15px;
      &:focus{
        border-color: #39b54a;
      }
      &:hover{
        background-color: #f9f9f9;
      }
    }
    .input-box.error{
      border: solid 1px #eb1c24;
    }
    .textarea-box.error{
      border: solid 1px #eb1c24;
    }
    .form-error{
      @include fontOpenSans300;
      font-size: 14px;
      line-height: 1.71;
      color: #eb1c24;
      position: absolute;
      top: 0;
      right: 0;
    }
    .select2-container{
      width: 100% !important;
      .select2-selection--single{
        height: 50px;
        border-radius: 2px;
        @include hover-time-all;
        &:focus{
          border-color: #39b54a;
        }
        &:hover{
          background-color: #f9f9f9;
        }
      }
    }
    .select2-container--default{
      .select2-selection--single{
        .select2-selection__arrow{
          top: 10px;
        }
        .select2-selection__rendered{
          @include fontOpenSans300;
          font-size: 16px;
          padding-left: 15px;
          line-height: 50px;
        }
      }
    }
  }
  .btn-change-pass{
    text-align: right;
    @include fontOpenSans300;
    font-size: 14px;
    line-height: 1.71;
    color: #39b54a;
    cursor: pointer;
    margin-top: 7px;
  }
}

.select2-search--dropdown{
  display: none;
}

.select2-dropdown{
  border: none;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 10px 10px;
}

.select2-container--default{
  .select2-results__option[aria-selected=true]{
    background-color: inherit;
    color: #000000;
  }
  .select2-results__option{
    background-color: inherit;
    @include fontOpenSans300;
    font-size: 16px;
    text-align: left;
    color: #5e5e5e;
    &:hover{
      color: black;
      background-color: inherit;
    }
  }
}

.select2-container--default{
  .select2-results__option--highlighted[aria-selected]{
    background-color: inherit;
    color: #5e5e5e;
  }
}

.box-btn-form{
  display: block;
}

.btn-form{
  @include fontTTRoundsCondensedR;
  font-size: 18px;
  font-stretch: condensed;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  padding: 15px 40px 17px 40px;
  border-radius: 2px;
  background-color: #39b54a;
  @include hover-time-run;
  &:hover{
    background-color: #1ea931;
  }
  &:focus{
    background-color: #139f27;
  }
}

.block-white-feedback{
  width: 600px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.wrapper-white-feedback{
  .wrapper-white-feedback_title{
    @include fontTTRoundsCondensedB;
    font-size: 36px;
    font-stretch: condensed;
    line-height: 1;
    text-align: left;
    color: #000000;
    margin-bottom: 50px;
  }
}

.wrapper-white-feedback_form{
  font-size: 0;
  .box-input{
    @include display-inline-top;
    width: 48%;
    margin-bottom: 30px;
    &:nth-child(1n){
      margin-left: 0;
      margin-right: 2%;
    }
    &:nth-child(2n){
      margin-left: 2%;
      margin-right: 0;
    }
  }
  .dz-preview{
    margin-left: 24px;
    margin-top: 17px;
    width: 250px;
    .img-none{
      display: none;
    }
  }
  .dz-preview + .dz-preview{
    margin-top: 10px;
  }
  .dz-details{
    @include display-inline-middle;
    margin-right: 15px;
    font-size: 0;
    .dz-filename{
      @include display-inline-middle;
      @include fontOpenSans300;
      font-size: 14px;
      line-height: 1.71;
      text-align: left;
      color: #797979;
      margin-right: 15px;
    }
    .dz-size{
      @include display-inline-middle;
      @include fontOpenSans300;
      font-size: 14px;
      line-height: 1.71;
      text-align: left;
      color: #b5b3b3;
    }
  }
  .dz-remove{
    @include display-inline-middle;
    background-image: url("../img/svg/close-file.svg");
    width: 11px;
    height: 11px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2px;
  }
}

.box-input.textarea{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
  .textarea-box{
    width: 100%;
    height: 110px;
    padding: 12px 15px;
    @include fontOpenSans300;
    font-size: 16px;
    color: black;
    @include hover-time-all;
    resize: none;
    &:focus{
      border-color: #39b54a;
    }
    &:hover{
      background-color: #f9f9f9;
    }
  }
}

.box-dropzon-btn{
  width: 100%;
  position: relative;
  font-size: 0;
  .wrapper-dropzone{
    @include display-inline-top;
    width: 50%;
  }
  .box-btn-form{
    @include display-inline-top;
    width: 50%;
    text-align: right;
  }
}

.btn-form.radius{
  border-radius: 30px;
}


.wrapper-white-feedback.center{
  .wrapper-white-feedback_title{
    text-align: center;
    margin-bottom: 35px;
  }
  .wrapper-white-feedback_text{
    text-align: center;
    padding: 0px 20%;
    p{
      @include fontOpenSans300;
      font-size: 16px;
      line-height: 1.88;
      text-align: center;
      color: #5e5e5e;
      margin-bottom: 20px;
    }
    a{
      @include fontOpenSans300;
      font-size: 16px;
      line-height: 1.88;
      color: #39b54a;
      @include hover-time-run;
      text-decoration: underline;
      @include hover-time-all;
      &:hover{
        color: #eb1c24;
      }
      &:focus{
        color: #d40008;
      }
    }
  }
}

.js-form.edit-pass{
  display: none;
}

.wrapper-white-feedback.response{

}