*, *:after, *:before{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  display: block;
}

button{
  background-color: transparent;
  outline: none;
}

svg{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1{
  @include fontTTRoundsCondensedB;
  font-size: 60px;
  font-stretch: condensed;
  line-height: 1;
  text-align: left;
  color: #000000;
}

.container-main{
  margin-left: 16%;
  width: 84%;
  @include hover-time-all;
}

.btn-link{
  display: inline-block;
  @include fontTTRoundsCondensedR;
  font-size: 18px;
  font-stretch: condensed;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  border-radius: 30px;
  border: solid 1px #ffffff;
  padding: 18px 40px;
  margin-top: 22px;
  @include hover-time-run;
  &:hover{
    background-color: white;
    color: #3fb750;
  }
  &:focus{
    background-color: white;
    color: #39b54a;
  }
}

.container-block-info{
  width: 100%;
  position: relative;
  font-size: 0;
}


.block-info-list{
  @include display-inline-top;
  width: 49.5%;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  @include hover-time-all;
  .wrapper-block-info_img{
    position: relative;
    width: 100%;
    @include hover-time-in-out;
  }
  .wrapper-block-info{
    width: 100%;
    height: 100%;
    padding: 40px 60px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:hover{
    .wrapper-block-info_img{
      transform: scale(1.1);
    }
  }
  .wrapper-block-info_text{
    width: 100%;
    height: 100%;
    position: relative;
    .block-info_text-section{
      @include fontTTRoundsCondensedB;
      font-size: 14px;
      font-stretch: condensed;
      text-align: center;
      color: #ffffff;
      border-radius: 3px;
      background-color: #eb1c24;
      padding: 7px 29px;
      position: absolute;
      top: 0;
      left: 0;
      text-transform: uppercase;
    }
    .two-block{
      position: absolute;
      bottom: 0;
      left: 0;
      .block-info_text-title{
        @include fontTTRoundsCondensedB;
        font-size: 36px;
        font-stretch: condensed;
        line-height: 1.22;
        text-align: left;
        color: #ffffff;
        padding-right: 10%;
        margin-bottom: 13px;
      }
      .block-info_text-txt{
        @include fontOpenSans300;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        color: #ffffff;
      }
    }

  }
}

.block-info-list:nth-child(1){
  margin-right: 0.5%;
}

.block-info-list:nth-child(2){
  margin-left: 0.5%;
}

.block-info-list:nth-child(3){
  width: 100%;
  .wrapper-block-info_text{
    .two-block{
      top: 90px;
      left: 0;
      .block-info_text-title{
        font-size: 60px;
        padding-right: 35%;
        line-height: 1;
        margin-bottom: 30px;
      }
      .block-info_text-txt{
        font-size: 18px;
        line-height: 1.56;
        padding-right: 55%;
      }
    }
  }
}

.container-central-unit{
  width: 100%;
  position: relative;
  .wrapper-central-unit{
    padding: 80px 60px 93px 60px;
  }
}

.central-title{
  font-size: 0;
  display: inline-block;
  .central-title_txt{
    @include display-inline-middle;
    @include fontTTRoundsCondensedB;
    font-size: 36px;
    font-stretch: condensed;
    line-height: 1.22;
    text-align: left;
    color: #000000;
    margin-right: 15px;
  }
  .central-title_icon{
    @include display-inline-middle;
    background: url("../img/svg/btn.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  &:hover{
    .central-title_icon{
      margin-left: 7px;
    }
  }
}

.central-title + .container-block-row{
  margin-top: 52px;
}

.gray{
  background-color: #f9f9f9;
}

.btn-red{
  @include fontTTRoundsCondensedR;
  font-size: 18px;
  font-stretch: condensed;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  border-radius: 2px;
  background-color: #eb1c24;
  padding: 15px 40px;
  display: inline-block;
  @include hover-time-all;
  cursor: pointer;
  &:hover{
    background-color: #d50008;
  }
  &:focus{
    background-color: #c20007;
  }
}



/*
==============================================
slideRight
==============================================
*/
.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight;

  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}



/*
==============================================
slideRightNone
==============================================
*/
.slideRightNone{
  animation-name: slideRightNone;
  -webkit-animation-name: slideRightNone;

  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideRightNone {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

@-webkit-keyframes slideRightNone {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

.overflow-hidden{
  overflow: hidden;
}

.overlow-bg{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 0.5s;
  pointer-events: none;
  position: fixed;
  z-index: 3;
}

.container-search-block{
  position: absolute;
  top: 40px;
  right: 60px;
  z-index: 1;
}

.wrapper-search-block{
  position: relative;
  width: 52px;
  @include hover-time-all;
  .input-search{
    border: 1px solid white;
    background-color: inherit;
    width: 100%;
    height: 52px;
    border-radius: 52px;
    @include hover-time-all;
    @include fontTTRoundsCondensedR;
    font-size: 18px;
    font-stretch: condensed;
    line-height: 1;
    text-align: left;
    color: white;
  ;
  }
  .btn-search{
    position: absolute;
    width: 52px;
    height: 52px;
    top:0;
    left: 0;
    cursor: pointer;
  }
}

.container-header{
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 250px;
  .wrapper-header{
    padding: 40px 60px;
    position: relative;
    width: 100%;
    height: 100%;
    h1{
      color: white;
      position: absolute;
      left: 60px;
      bottom: 68px;
    }
    .bread-crumbs{
      a{
        @include fontOpenSans300;
        font-size: 14px;
        text-align: left;
        color: rgba(255, 255, 255, 0.8);
        &:after{
          content: '/';
          @include fontOpenSans300;
          font-size: 14px;
          text-align: left;
          color: rgba(255, 255, 255, 0.8);
          padding-left: 4px;
        }
      }
    }
  }
}
