@media all and (max-width: 1650px){
  .block-info-list{
    .wrapper-block-info{
      .wrapper-block-info_img{
        height: 100%;
      }
    }
  }
  .wrapper-row-content.central-content {
    .container-tabs-btn{
      width: 81%;
    }
    .container-content {
      .container-content-txt{
        width: 50%;
      }
      .container-content-img{
        width: 50%;
      }
      .container-content-video {
        width: 50%;
        iframe{
          width: 100%;
        }
      }
    }
  }
}

@media all and (max-width: 1600px){
  .wrapper-row-content.central-content {
    .container-tabs-btn{
      width: 92%;
    }
  }
  .block-lotock.block-lotock-left{
    .block-lotock_list{
      .block-lotock_list_title{
        width: 40%;
      }
    }
  }
  .wrapper-lotock{
    .block-img-c{
      .content-img{
        .line-1{
          top: -90%;
          left: -7%;
        }
        .line-2{
          top: 25%;
          left: -17%;
        }
        .line-3{
          bottom: -85%;
          left: -7%;
        }
        .line-4{
          top: -90%;
          right: -7%;
        }
        .line-5{
          top: 25%;
          right: -20%;
        }
        .line-6{
          bottom: -85%;
          right: -7%;
        }
        img{
          width: 100%;
        }
      }
    }
  }
  .container-production-cycle_schedule {
    .block-cycle_schedule{
      width: 64%;
    }
  }
  .wrapper-contact_list{
    width: 450px;
    padding-right: 50px;
  }
}
@media all and (max-width: 1490px){
  .wrapper-lotock{
    .block-img-c{
      .content-img{
        .line-1{
          top: -90%;
          left: -5%;
        }
        .line-2{
          top: 25%;
          left: -10%;
        }
        .line-3{
          bottom: -70%;
          left: -5%;
        }
        .line-4{
          top: -90%;
          right: -15%;
        }
        .line-5{
          top: 25%;
          right: -19%;
        }
        .line-6{
          bottom: -70%;
          right: -15%;
        }
        img{
          width: 100%;
        }
      }
    }
  }
  .wrapper-lotock {
    .block-img-c{
      left: 49%;
      .content-img{
        width: 330px;
      }
    }
  }
}


@media all and (max-width: 1439px){
  .wrapper-contact_list{
    width: 40%;
    padding-right: 75px;
  }
  .wrapper-text-popup{
    width: 70%;
  }
  .wrapper-nav-text{
    width: 30%;
  }
  .container-text-popup{
    width: 75%;
  }
  .container-text-popup-m{
    .wrapper-text-popup_header{
      .wrapper-text-popup_container{
        .wrapper-text-popup_txt{
          padding-right: 60px;
        }
      }
    }
  }
  .block-product{
    .wrapper-product{
      .wrapper-product_logo{
        width: 80px;
      }
      .wrapper-product_text{
        .wrapper-product_text-title{
          font-size: 20px;
        }
      }
    }
  }
  .brand-info-hiden{
    .brand-info-hiden_list{
      margin-right: 14px;
    }
  }
  .wrapper-gradient-line {
    width: 21%;
    position: fixed;
    bottom: 0;
  }
  .wrapper-row-content.central-content {
    .container-tabs-btn{
      width: 92%;
      .tabs-link{
        margin-right: 40px;
      }
    }
  }
  .wrapper-slider-production{
    margin-top: 70px;
  }
  .box-slider-production {
    padding-left: 70px;
  }
  .block-lotock.block-lotock-right {
    .block-lotock_list:nth-child(2) {
      .block-lotock_list_title{
        width: 63%;
      }
    }
  }
  .container-production-cycle_schedule {
    .block-cycle_schedule{
      width: 69%;
    }
  }
}

@media all and (max-width: 1380px){
  .block-white-tabs{
    width: 345px;
  }
  .block-lotock.block-lotock-right {
    .block-lotock_list{
      padding-left: 40%;
    }
    .block-lotock_list:nth-child(2){
      padding-left: 40%;
    }
  }
  .block-lotock.block-lotock-left {
    .block-lotock_list:first-child{
      padding-left: 0;
    }
  }
  .block-lotock.block-lotock-left {
    .block-lotock_list:last-child{
      padding-left: 0;
    }
  }
  .wrapper-lotock {
    .block-img-c{
      top: 48%;
      left: 48%;
    }
  }
  .wrapper-lotock {
    .block-img-c {
      .content-img{
        width: 300px;
        height: 170px;
      }
    }
  }
  .wrapper-lotock {
    .block-img-c {
      .content-img {
        .line-1{
          width: 150px;
          height: 100px;
          top: -75%;
          left: 0%;
        }
        .line-2{
          left: -6%;
          width: 40px;
        }
        .line-3{
          width: 150px;
          height: 100px;
          bottom: -65%;
          left: 0%;
        }
        .line-4{
          width: 150px;
          height: 100px;
          top: -79%;
          right: -15%;
        }
        .line-5{
          right: -15%;
          width: 40px;
        }
        .line-6{
          width: 150px;
          height: 100px;
          bottom: -65%;
          right: -15%;
          transform: rotate(186deg);
        }
      }
    }
  }
  .block-product-subbrand {
    .block-product{
      width: 80%;
    }
  }
}

@media all and (max-width: 1280px){
  .wrapper-btn-f, .wrapper-tel-f{
    margin-right: 13%;
  }

  .wrapper-soc-f{
    ul{
      li{
        margin-left: 5px;
      }
    }
  }

  .container-left-menu{
    width: 20%;
  }

  .container-main{
    margin-left: 20%;
    width: 80%;
  }

  .wrapper-swiper-slide{
    .wrapper-swiper-slide_txt{
      padding-right: 25%;
    }
  }

  .block-info-list{
    .wrapper-block-info{
      padding: 25px 30px;
    }
    .wrapper-block-info_text{
      .two-block{
        .block-info_text-title{
          padding-right: 0;
        }
      }
    }
  }

  .block-info-list:nth-child(3){
    .wrapper-block-info_text{
      .two-block{
        .block-info_text-title{
          padding-right: 10%;
        }
        .block-info_text-txt{
          padding-right: 30%;
        }
      }
    }
  }

  .container-central-unit{
    .wrapper-central-unit{
      padding: 80px 30px 60px;
    }
  }

  .block-product{
    width: 48%;
  }
  .block-product:nth-child(3n+1){
    margin-right: 0;
  }
  .block-product:nth-child(3n+2){
    margin-left: 0;
    margin-right: 0;
  }
  .block-product:nth-child(3n+3){
    margin-left: 0;
  }
  .block-product:nth-child(1n){
    margin-right: 2%;
  }

  .block-product:nth-child(2n){
    margin-left: 2%;
    margin-right: 0;
  }

  .block-link-right{
    li{
      padding: 0 10px;
    }
  }

  .wrapper-soc-f{
    float: none;
    margin-top: 35px;
  }

  .footer{
    margin-left: 20%;
    width: 80%;
  }

  .container-text-popup-m{
    .wrapper-text-popup_header{
      padding: 40px 60px 40px 80px;
    }
    .wrapper-content-text{
      padding: 40px 60px 40px 80px;
    }
    .wrapper-content-soc{
      padding: 0 60px 50px 80px;
    }
  }

  .container-tabs-btn.row-tabs{
    .tabs-link{
      margin-right: 35px;
    }
  }

  .block-list-items:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
  }

  .block-list-items:nth-child(3n+3) {
    margin-left: 0;
  }

  .block-list-items{
    width: 48%;
  }

  .block-list-items:nth-child(1n) {
    margin-right: 2%;
  }

  .block-list-items:nth-child(2n) {
    margin-left: 2%;
    margin-right: 0;
  }

  .block-product{
    .wrapper-product{
      .wrapper-product_logo{
        width: 108px;
      }
      .wrapper-product_text{
        .wrapper-product_text-title{
          font-size: 24px;
        }
      }
    }
  }
  .container-contact {
    .wrapper-white-feedback_form{
      width: 60%;
    }
  }
  .container-header-recipes{
    padding: 0 20% 0 80px;
  }
  .container-recipes-info {
    .wrapper-content-text{
      padding: 40px 0 40px 80px;
    }
  }
  .wrapper-tag{
    padding: 0 0 0 80px;
  }
  .wrapper-similar-recipes{
    padding-left: 80px;
  }
  .block-ingredients{
    padding: 35px 15px;
  }
  .block-quantity-por{
    width: 170px;
  }
  .wrapper-row-content.central-content {
    .container-tabs-btn{
      left: 30px;
    }
    .container-content-txt_title{
      padding: 0 30px;
    }
  }
  .wrapper-row-content.central-content{
    .container-content{
      padding: 0 30px;
    }
  }
  .wrapper-row-content {
    .wrapper-content_title-row-b{
      padding: 0 0 0 30px;
    }
  }
  .wrapper-row-content.content-no-img {
    .container-content-txt:first-child{
      padding: 90px 30px;
    }
    .container-content-txt:last-child{
      padding: 90px 30px 90px 0;
    }
  }
  .container-environment {
    .container-content-txt_title{
      padding: 0 30px;
    }
    .wrapper-row-content.left-content{
      padding-left: 30px;
      .container-content-txt{
        padding: 90px 30px 90px 50px;
      }
    }
  }
  .wrapper-row-content.right-content {
    .container-content-txt{
      padding: 90px 105px 90px 30px;
    }
  }
  .container-production-cycle_schedule {
    .block-cycle_schedule {
      .block-cycle_schedule-text{
        font-size: 21px;
      }
    }
  }
  .block-lotock_list {
    .block-lotock_list-h {
      .block-lotock_list_icon{
        margin-right: 15px;
      }
      .block-lotock_list_title{
        font-size: 16px;
      }
    }
    .block-lotock_list-txt{
      font-size: 14px;
    }
  }
  .wrapper-lotock{
    padding: 0 30px;
  }
  .wrapper-lotock {
    .block-img-c {
      .content-img{
        width: 270px;
        height: 155px;
      }
    }
  }
  .container-central-txt {
    .wrapper-content-text{
      padding: 40px 30px;
      width: 100%;
    }
  }
  .container-header {
    .wrapper-header{
      padding: 40px 30px;
      h1{
        left: 30px;
      }
    }
  }
  .block-text-inside {
    .wrapper-text-inside {
      .block-text-inside {
        .block-text-inside_title{
          font-size: 22px;
        }
        .block-text-inside_txt{
          font-size: 18px;
        }
      }
    }
  }
  .block-info-list:nth-child(3) {
    .wrapper-block-info_text {
      .two-block{
        top: 50px;
      }
    }
  }
  .block-product-subbrand {
    .block-product{
      width: 85%;
      margin-right: 0;
    }
  }
  .wrapper-contact_list {
    .wrapper-contact_block {
      .wrapper-contact_block-row {
        .label{
          width: 75px;
        }
      }
    }
  }
}

@media all and (max-width: 1207px){
  .container-telephone-hotline-f{
    .block-label-txt{
      width: 50%;
    }
  }
  .container-production-cycle_schedule {
    .block-cycle_schedule {
      .block-cycle_schedule-text{
        font-size: 18px;
      }
    }
  }
  .wrapper-slider-production{
    margin-top: 35px;
  }
  .box-slider-production{
    padding-left: 50px;
  }
}

@media all and (max-width: 1130px){
  .wrapper-lotock {
    .block-img-c {
      .content-img {
        width: 236px;
        height: 140px;
      }
    }
  }
  .wrapper-lotock {
    .block-img-c {
      .content-img {
        .line-1{
          width: 135px;
          height: 90px;
          top: -90%;
          left: -7%;
        }
        .line-2{
          left: -10%;
          width: 30px;
        }
        .line-3{
          width: 135px;
          height: 90px;
          bottom: -65%;
          left: -7%;
        }
        .line-4{
          top: -94%;
          right: -15%;
          width: 135px;
          height: 90px;
        }
        .line-5{
          right: -15%;
          width: 30px;
        }
        .line-6{
          width: 135px;
          height: 90px;
          bottom: -65%;
          right: -15%;
          transform: rotate(186deg);
        }
      }
    }
  }
}

@media all and (max-height: 800px){
  .wrapper-left-menu_img{
    bottom: -60px;
  }
  .block-white-tabs.top-margin{
    margin: 55px auto;
    top: 0;
    transform: translate(-50%,0);
  }
}

@media all and (max-height: 740px){
  .block-white-tabs.top-margin{
    margin: 55px auto;
    top: 0;
    transform: translate(-50%,0);
  }
  .wrapper-left-menu_nav{
    margin-top: 17%;
    li{
      .box-hover-menu{
        line-height: 1.5;
        padding: 12px 22%;
      }
    }
  }
  .wrapper-btn-personal-area{
    bottom: 40px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container-production-cycle_schedule {
    .block-cycle_schedule {
      svg{
        height: 45vh;
      }
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::i-block-chrome, .central-title .central-title_icon{
    margin-top: 1px;
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {

  .central-title .central-title_icon{
    margin-top: 1px;
  }
}}