.container-slider-header{
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  //animation-name: bounceInUp;
  //animation-duration: 1s;
  //animation-fill-mode: both;
  @keyframes bounceInUp {
    0%,60%,75%,90%,to {
      animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
      opacity: 0;
      transform: translate3d(0,3000px,0)
    }

    60% {
      opacity: 1;
      transform: translate3d(0,-20px,0)
    }

    75% {
      transform: translate3d(0,10px,0)
    }

    90% {
      transform: translate3d(0,0,0)
    }

    to {
      transform: translateZ(0)
    }
  }
  .swiper-slide{
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 500px;
    position: relative;
    &:before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.4);
    }
  }
  .swiper-pagination-bullet-active{
    &:before{
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: #eb1c24 !important;
      border-radius: 50%;
    }
  }
  .swiper-pagination-bullet{
    width: 17px;
    height: 17px;
    opacity: 1;
    background-color: inherit;
    @include hover-time-run;
    &:before{
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: white;
      border-radius: 50%;
      margin-top: 4px;
      margin-left: 4px;
    }
    &:hover:before{
      background-color: #eb1c24;
    }
  }
  .swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 35px;
    .swiper-pagination-bullet {
      margin: 0 10px;
    }
  }
  .swiper-button-next{
    background-image: none;
    width: 90px;
    height: 100%;
    top: 0;
    right: 0;
    margin-top: 0;
    @include hover-time-run;
    &:hover{
      background-color: hsla(0,0%,0%,.25);
    }
    .icon-btn-slider{
      width: 20px;
      height: 38px;
      margin: 0 auto;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include hover-time-run;
      svg{
        path{
          fill: white;
        }
      }
    }
  }
  .swiper-button-prev{
    background-image: none;
    width: 90px;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 0;
    @include hover-time-run;
    svg{
      path{
        fill: white;
      }
    }
    &:hover{
      background-color: hsla(0,0%,0%,.25);
    }
    .icon-btn-slider{
      width: 20px;
      height: 38px;
      margin: 0 auto;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) rotate(-180deg);
      @include hover-time-run;
    }
  }
  .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
    svg{
      path{
        fill: #b6b4b4;
      }
    }
  }
}


.wrapper-swiper-slide{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 7% 11% 0 11%;
  .block-info_text-title{
    color: white;
    margin-bottom: 28px;
    font-size: 60px;
    font-stretch: condensed;
    line-height: 1;
    text-align: left;
    @include fontTTRoundsCondensedB;
    display: inherit;
  }
  .wrapper-swiper-slide_txt{
    @include fontOpenSans300;
    color: #eaebef;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    padding-right: 52%;
    margin-bottom: 28px;
  }
  .btn-link{

  }
}