section.container-central-unit
    .wrapper-central-unit
        .container-row
            .container-link-anchor
                ul
                    li
                        a(href='#production-cycle').link-anchor-menu Замкнутый цикл производства

                    li
                        a(href='#innovations').link-anchor-menu Инновации

                    li
                        a(href='#certificates').link-anchor-menu Сертификаты

                    li
                        a(href='#environment').link-anchor-menu Забота об окружающей среде

            .container-production-cycle#production-cycle
                .wrapper-content_title Замкнутый цикл производства
                .container-production-cycle_slider
                    .wrapper-slider-production
                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Мы производим натуральные сбалансированные корма на основе пшеницы и кукурузы.
                                    p Цыплята получают весь комплекс витаминов и микроэлементов, которые положительно влияют на их здоровье и рост.

                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Родительское стадо2 — ресурс птицефабрики для обеспечения ее непрерывного роста и гарантии стабильности.
                                    p Инкубатор позволяет контролировать выращивание цыплят с самого первого их дня. Для инкубации был построен первый в Беларуси современный инкубатор, запущенный в 2007 году с использованием оборудования компании Питерсайм, Бельгия.

                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Родительское стадо — это важнейший ресурс птицефабрики для обеспечения ее непрерывного роста и гарантии стабильности.
                                    p Для инкубации был построен первый в Беларуси современный инкубатор, запущенный в 2007 году с использованием оборудования компании Питерсайм, Бельгия. Инкубатор позволяет контролировать выращивание цыплят с самого первого их дня.

                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Родительское стадо2 — ресурс птицефабрики для обеспечения ее непрерывного роста и гарантии стабильности.
                                    p Инкубатор позволяет контролировать выращивание цыплят с самого первого их дня. Для инкубации был построен первый в Беларуси современный инкубатор, запущенный в 2007 году с использованием оборудования компании Питерсайм, Бельгия.

                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Родительское стадо — это важнейший ресурс птицефабрики для обеспечения ее непрерывного роста и гарантии стабильности.
                                    p Для инкубации был построен первый в Беларуси современный инкубатор, запущенный в 2007 году с использованием оборудования компании Питерсайм, Бельгия. Инкубатор позволяет контролировать выращивание цыплят с самого первого их дня.

                .container-production-cycle_schedule
                    .block-cycle_schedule
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="450px" height="460px" viewBox="0 0 450 460" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 45.1 (43504) - http://www.bohemiancoding.com/sketch -->
                        <title>Cycle</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                        <circle id="path-1" cx="293" cy="235" r="120"></circle>
                        <filter x="-13.5%" y="-11.5%" width="127.1%" height="127.1%" filterUnits="objectBoundingBox" id="filter-2">
                        <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.15 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                        </defs>
                        <g id="100%" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="100%_13-10-copy" transform="translate(-984.000000, -500.000000)">
                        <g id="Cycle" transform="translate(250.000000, 250.000000)">
                        <g id="Group-5">
                        <rect id="Rectangle" fill="#FFFFFF" x="0" y="0" width="1350" height="830"></rect>
                        <g id="Cycle" transform="translate(666.000000, 250.000000)">
                        <g id="Form">
                        <circle id="Oval" fill="#F7F7F7" cx="293" cy="235" r="225"></circle>
                        <path class="btn-cycle op-100" data-cycle-txt="Собственные корма" data-cycle-eq="0" d="M515.5,162.5 C504.330777,118.998817 433.5,1.5 293.115106,0 C292.856117,116.027124 293.115106,172.51887 293.115106,235.026127 C512.5,163.5 304,231.5 515.5,162.5 Z" id="Oval-Copy" fill="#39B54A" opacity="0"></path>
                        <path class="btn-cycle" data-cycle-txt="Собственные корма5" data-cycle-eq="4" d="M292.5,162.5 C281.330777,118.998817 210.5,1.5 70.1151063,0 C69.8561172,116.027124 70.1151063,172.51887 70.1151063,235.026127 C289.5,163.5 81,231.5 292.5,162.5 Z" id="Oval-Copy-7" fill="#39B54A" opacity="0" transform="translate(181.250000, 117.513064) scale(-1, 1) translate(-181.250000, -117.513064) "></path>
                        <path class="btn-cycle" data-cycle-txt="Собственные корма2" data-cycle-eq="1" d="M550.389706,350.105507 C539.220483,306.604325 468.389706,189.105507 328.004812,187.605507 C327.745823,303.632631 328.004812,360.124377 328.004812,422.631635 C547.389706,351.105507 338.889706,419.105507 550.389706,350.105507 Z" id="Oval-Copy-5" fill="#39B54A" opacity="0" transform="translate(439.139706, 305.118571) rotate(72.000000) translate(-439.139706, -305.118571) "></path>
                        <path class="btn-cycle" data-cycle-txt="Собственные корма4" data-cycle-eq="3" d="M257.389706,350.105507 C246.220483,306.604325 175.389706,189.105507 35.0048119,187.605507 C34.7458227,303.632631 35.0048119,360.124377 35.0048119,422.631635 C254.389706,351.105507 45.8897056,419.105507 257.389706,350.105507 Z" id="Oval-Copy-8" fill="#39B54A" opacity="0" transform="translate(146.139706, 305.118571) scale(-1, 1) rotate(72.000000) translate(-146.139706, -305.118571) "></path>
                        <path class="btn-cycle" data-cycle-txt="Собственные корма3" data-cycle-eq="2" d="M383.325586,440.448111 C372.156364,396.946929 301.325586,279.448111 160.940693,277.948111 C160.681704,393.975235 160.940693,450.466981 160.940693,512.974239 C380.325586,441.448111 171.825586,509.448111 383.325586,440.448111 Z" id="Oval-Copy-6" fill="#39B54A" opacity="0" transform="translate(272.075586, 395.461175) rotate(144.000000) translate(-272.075586, -395.461175) "></path>
                        <g id="Oval-2">
                        <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                        </g>
                        </g>
                        </g>
                        </g>
                        </g>
                        </g>
                        </g>
                        </svg>
                        .block-cycle_schedule-text Собственные корма


    // Для контента с отступами добавляем класс .central-content
    .wrapper-row-content.central-content.gray#innovations
        .container-content-txt_title Безопасность выпускаемой продукции - это
        .container-tabs-btn
            .tabs-link.current-t(data-tab="tab-1") Отсутствие гормонов
            .tabs-link(data-tab="tab-2") Герметичная упаковка
            .tabs-link(data-tab="tab-3") Холодовая цепочка
            .tabs-link(data-tab="tab-4") Лабораторный контроль
            .tabs-link(data-tab="tab-5") Международные стандарты
        #tab-1.container-content.tabs-content.current-t
            .container-content-txt
                .container-content-txt_bold Наши продукты не содержат гормонов роста и антибиотиков
                p Мы выращиваем цыплят бройлера на натуральных и сбалансированных кормах в оптимальных условиях для обеспечения быстрого и здорового роста.
                p Узнайте, как мы выращиваем наших цыплят бройлера...
            .container-content-video
                <iframe src="https://www.youtube.com/embed/cB-foYQqww0" frameborder="0" allowfullscreen></iframe>

        #tab-2.container-content.tabs-content
            .container-content-txt
                .container-content-txt_bold Наши продукты не содержат гормонов роста и антибиотиков
                    p Мы выращиваем цыплят бройлера на натуральных и сбалансированных кормах в оптимальных условиях для обеспечения быстрого и здорового роста.
                    p Узнайте, как мы выращиваем наших цыплят бройлера...
            .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")

        #tab-3.container-content.tabs-content
            .container-content-txt
                p 3Современные тренды изменения мира непосредственно влияют на потребителя. Тотальная урбанизация, повсеместная диджитализация - все эти факторы меняют привычные форматы потребления еды. Времени на готовку становится все меньше, а потребность в разнообразии у человечества растет с каждым днем.
                p Следуя трендам своих потребителей ТМ Петруха разработала и выпустила на рынок уникальную линейку продуктов резки, призванную максимально облегчить жизнь своим потребителям и сэкономить время на готовке для более важных задач.
            .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")

        #tab-4.container-content.tabs-content
            .container-content-txt
                .container-content-txt_bold Наши продукты не содержат гормонов роста и антибиотиков
                p Мы выращиваем цыплят бройлера на натуральных и сбалансированных кормах в оптимальных условиях для обеспечения быстрого и здорового роста.
                p Узнайте, как мы выращиваем наших цыплят бройлера...
            .container-content-video
                <iframe src="https://www.youtube.com/embed/cB-foYQqww0" frameborder="0" allowfullscreen></iframe>

        #tab-5.container-content.tabs-content
            .container-content-txt
                .container-content-txt_bold Наши продукты не содержат гормонов роста и антибиотиков
                    p Мы выращиваем цыплят бройлера на натуральных и сбалансированных кормах в оптимальных условиях для обеспечения быстрого и здорового роста.
                    p Узнайте, как мы выращиваем наших цыплят бройлера...
            .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")

    // Для блоков с текстом без картинок добавляем  .content-no-img
    .wrapper-row-content.content-no-img#certificates
        .wrapper-content_title-row-b Сертификат FSSC 22000
        .container-content
            .container-content-txt
                .container-content-txt_bold «Смолевичи Бройлер» наряду с «Серволюкс Агро» являются единственными в Беларуси производителями мяса птицы, обладающими сертификатом пищевой безопасности FSSC 22000.
                a(href="Bitmap3.png" download).container-open-doc
                    .icon-doc
                    .block-txt-info
                        .txt Открыть сертификат FSSC 22000
                        .info JPG, 2,5 Мб
            .container-content-txt
                p Этот стандарт сегодня является требованием лидеров глобального пищевого рынка к своим поставщикам. Сертификат FSSC 22000 открывает новые экспортные пути и возможности сотрудничества с новыми торговыми сетями и мировыми брендами, приходящими на белорусский рынок

                ul
                    li
                        img(src="img/100/Bitmap3.png" alt="")
                    li
                        img(src="img/100/Bitmap4.png" alt="")
                    li
                        img(src="img/100/Bitmap5.png" alt="")

    .container-environment.gray#environment
        .container-content-txt_title Инновации, не имеющие <br> аналогов на рынке
        // Для картинки справо добавляем класс .right-content
        .wrapper-row-content.right-content
            .container-content
                .container-content-txt
                    .container-content-txt_bold Улучшаем качество жизни наших потребителей
                    p Постоянное изучение рынка потребления позволяет нам разрабатывать новые актуальные продукты, которые делают каждый день нашего покупателя комфортным. Мы работаем не только над продуктовым ассортиментом, но и активно ищем и внедряем инновационные упаковочные решения. Такие программы позволяют улучшать качество и эстетику продуктов “Петруха”.
                .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")

        // Для картинки слево добавляем класс .left-content
        .wrapper-row-content.left-content
            .container-content
                .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")
                .container-content-txt
                    .container-content-txt_bold Оптимизируем процессы, чтобы предложить справедливую цену
                    p Автоматизация производственных циклов и использование инновационных энергосберегающих технологий позволяет реализовывать программы по снижению себестоимости готовой продукции.

        // Для картинки справо добавляем класс .right-content
        .wrapper-row-content.right-content
            .container-content
                .container-content-txt
                    .container-content-txt_bold Снижаем нагрузку на окружающую среду
                    p Мы отказались от использования упаковочных материалов из вспененного полистирола, производство которого в мире признано небезопасным для экологии и человека.
                    p Мы бережно относимся к природным ресурсам, понимая их ограниченность, и инвестируем в самые эффективные технологии по очистке воды, воздуха, экономии газа и электроэнергии.
                .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")

        .wrapper-row-content.container-lotock
            .wrapper-lotock
                .block-lotock.block-lotock-left
                    .block-lotock_list
                        .block-lotock_list-h
                            .block-lotock_list_icon(style="background-image:url('img/svg/innovation/innovation.svg')")
                            .block-lotock_list_title Фиксированный вес продукта
                        .block-lotock_list-txt Сокращает логистические затраты на прием продукции, учет ее движения.

                    .block-lotock_list
                        .block-lotock_list-h
                            .block-lotock_list_icon(style="background-image:url('img/svg/innovation/innovation-2.svg')")
                            .block-lotock_list_title Жесткость и прочность упаковки
                        .block-lotock_list-txt При транспортировке снижается вероятность деформации упаковки и продукта.

                    .block-lotock_list
                        .block-lotock_list-h
                            .block-lotock_list_icon(style="background-image:url('img/svg/innovation/innovation-3.svg')")
                            .block-lotock_list_title Защита от вредоносных микроарганизмов.
                        .block-lotock_list-txt Герметичная упаковка припятствует контакту с окружающей средой, что повышает безопасность продукта.



                .block-lotock.block-lotock-right
                    .block-lotock_list
                        .block-lotock_list-h
                            .block-lotock_list_icon(style="background-image:url('img/svg/innovation/innovation-4.svg')")
                            .block-lotock_list_title Безопасный материал для здоровья
                        .block-lotock_list-txt Не вступает в контакт с продуктом даже при повышении температры.

                    .block-lotock_list
                        .block-lotock_list-h
                            .block-lotock_list_icon(style="background-image:url('img/svg/innovation/innovation-5.svg')")
                            .block-lotock_list_title Снижает нагрузку на экологию
                        .block-lotock_list-txt Полипропилен разлагается значительно быстрее полистерола, развит рынок переработки.

                    .block-lotock_list
                        .block-lotock_list-h
                            .block-lotock_list_icon(style="background-image:url('img/svg/innovation/innovation-6.svg')")
                            .block-lotock_list_title Защита от протекания упаковки
                        .block-lotock_list-txt Покупатель больше не использует дополнительную упаковку для транспортировки из магазина домой.


                .block-img-c
                    .content-img
                        .block-line.line-1
                        .block-line.line-2
                        .block-line.line-3
                        .block-line.line-4
                        .block-line.line-5
                        .block-line.line-6
                        img(src='img/100/lotoc.png' alt='')