section.container-central-unit
    .wrapper-central-unit
        .container-row
            .container-link-anchor
                ul
                    li
                        a(href='#production-cycle').link-anchor-menu Замкнутый цикл производства

                    li
                        a(href='#innovations').link-anchor-menu Инновации

                    li
                        a(href='#certificates').link-anchor-menu Сертификаты

                    li
                        a(href='#environment').link-anchor-menu Забота об окружающей среде

            .container-production-cycle#production-cycle
                .wrapper-content_title Замкнутый цикл производства
                .container-production-cycle_slider
                    .wrapper-slider-production
                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Родительское стадо — это важнейший ресурс птицефабрики для обеспечения ее непрерывного роста и гарантии стабильности.
                                    p Для инкубации был построен первый в Беларуси современный инкубатор, запущенный в 2007 году с использованием оборудования компании Питерсайм, Бельгия. Инкубатор позволяет контролировать выращивание цыплят с самого первого их дня.

                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Родительское стадо2 — ресурс птицефабрики для обеспечения ее непрерывного роста и гарантии стабильности.
                                    p Инкубатор позволяет контролировать выращивание цыплят с самого первого их дня. Для инкубации был построен первый в Беларуси современный инкубатор, запущенный в 2007 году с использованием оборудования компании Питерсайм, Бельгия.

                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Родительское стадо — это важнейший ресурс птицефабрики для обеспечения ее непрерывного роста и гарантии стабильности.
                                    p Для инкубации был построен первый в Беларуси современный инкубатор, запущенный в 2007 году с использованием оборудования компании Питерсайм, Бельгия. Инкубатор позволяет контролировать выращивание цыплят с самого первого их дня.

                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Родительское стадо2 — ресурс птицефабрики для обеспечения ее непрерывного роста и гарантии стабильности.
                                    p Инкубатор позволяет контролировать выращивание цыплят с самого первого их дня. Для инкубации был построен первый в Беларуси современный инкубатор, запущенный в 2007 году с использованием оборудования компании Питерсайм, Бельгия.

                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Родительское стадо — это важнейший ресурс птицефабрики для обеспечения ее непрерывного роста и гарантии стабильности.
                                    p Для инкубации был построен первый в Беларуси современный инкубатор, запущенный в 2007 году с использованием оборудования компании Питерсайм, Бельгия. Инкубатор позволяет контролировать выращивание цыплят с самого первого их дня.

                .container-production-cycle_schedule

    // Для картинки справо добавляем класс .right-content
    .wrapper-row-content.right-content#innovations
        .wrapper-content_title-row Инновационные продукты, не имеющие аналогов на рынке Беларуси
        .container-tabs-btn
            .tabs-link.current-t(data-tab="tab-1") Продукты резки
            .tabs-link(data-tab="tab-2") Мякоть бедра
            .tabs-link(data-tab="tab-3") МИКС
        #tab-1.container-content.tabs-content.current-t
            .container-content-txt
                p Современные тренды изменения мира непосредственно влияют на потребителя. Тотальная урбанизация, повсеместная диджитализация - все эти факторы меняют привычные форматы потребления еды. Времени на готовку становится все меньше, а потребность в разнообразии у человечества растет с каждым днем.
                p Следуя трендам своих потребителей ТМ Петруха разработала и выпустила на рынок уникальную линейку продуктов резки, призванную максимально облегчить жизнь своим потребителям и сэкономить время на готовке для более важных задач.
            .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")

        #tab-2.container-content.tabs-content
            .container-content-txt
                p 2Современные тренды изменения мира непосредственно влияют на потребителя. Тотальная урбанизация, повсеместная диджитализация - все эти факторы меняют привычные форматы потребления еды. Времени на готовку становится все меньше, а потребность в разнообразии у человечества растет с каждым днем.
                p Следуя трендам своих потребителей ТМ Петруха разработала и выпустила на рынок уникальную линейку продуктов резки, призванную максимально облегчить жизнь своим потребителям и сэкономить время на готовке для более важных задач.
            .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")

        #tab-3.container-content.tabs-content
            .container-content-txt
                p 3Современные тренды изменения мира непосредственно влияют на потребителя. Тотальная урбанизация, повсеместная диджитализация - все эти факторы меняют привычные форматы потребления еды. Времени на готовку становится все меньше, а потребность в разнообразии у человечества растет с каждым днем.
                p Следуя трендам своих потребителей ТМ Петруха разработала и выпустила на рынок уникальную линейку продуктов резки, призванную максимально облегчить жизнь своим потребителям и сэкономить время на готовке для более важных задач.
            .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")

    // Для картинки слево добавляем класс .left-content
    .wrapper-row-content.left-content.gray
        .container-content
            .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")
            .container-content-txt
                .container-content-txt_bold Ребрендинг – важный шаг в развитии бренда «Петруха». Для нас это не только изменение дизайна упакови и логотипа.
                p Бренг «Петруха» демонстрирует движение вперед, навтречу новым покупательским ожиданиям и трендам, с заботой и вниманием к портебителю.

    // Для блоков с текстом без картинок добавляем  .content-no-img
    .wrapper-row-content.content-no-img#certificates
        .wrapper-content_title-row-b Сертификат FSSC 22000
        .container-content
            .container-content-txt
                .container-content-txt_bold «Смолевичи Бройлер» наряду с «Серволюкс Агро» являются единственными в Беларуси производителями мяса птицы, обладающими сертификатом пищевой безопасности FSSC 22000.
                a(href="Bitmap3.png" download).container-open-doc
                    .icon-doc
                    .block-txt-info
                        .txt Открыть сертификат FSSC 22000
                        .info JPG, 2,5 Мб
            .container-content-txt
                p Этот стандарт сегодня является требованием лидеров глобального пищевого рынка к своим поставщикам. Сертификат FSSC 22000 открывает новые экспортные пути и возможности сотрудничества с новыми торговыми сетями и мировыми брендами, приходящими на белорусский рынок

                ul
                    li
                        img(src="img/100/Bitmap3.png" alt="")
                    li
                        img(src="img/100/Bitmap4.png" alt="")
                    li
                        img(src="img/100/Bitmap5.png" alt="")

    .wrapper-row-content.right-content.gray#environment
        .container-content
            .container-content-txt
                .container-content-txt_title Забота об окружающей среде
                p Ежегодно бренд инвестирует не только в развитие производства, но и в заботу об окружающей среде.
                p Компания - технологический лидер отрасли, из года в год задает тон в инвестициях в экологию. Несмотря на многократный рост производства в последние годы,  компания стремится сокращать свое воздействие на окружающую среду. Яркими примера такого подхода в последние годы стал переход на более экологичную упаковку–трейсилер, а также внедрение инновационных технологий выращивания птицы.
            .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")