.container-header.animateThis(style="background-image:url('img/bg/bg-contact.jpg')" data-anim="fadeInDownMenu")
    .wrapper-header
        .bread-crumbs
            a(href='#') Главная
        h1 Контакты
