section.container-central-unit
    .wrapper-central-unit
        .container-row
            .container-link-anchor
                ul
                    li
                        a(href='#company').link-anchor-menu О компании

                    li
                        a(href='#history').link-anchor-menu История

                    li
                        a(href='#production-sites').link-anchor-menu Производственные площадки

                    li
                        a(href='#vacancies').link-anchor-menu Вакансии

            .wrapper-content#company
                .wrapper-content_title Торговая марка «Петруха» - это качественный производитель и поставщик куриного мяса.
                p Фактом констатации силы бренда «Петруха» является его признание среди профессионалов (победитель конкурса «Бренд года», дипломант Премии Правительства в области качества), а так же, на потребительском рынке (уровень знания бренда  составляет 81%, многочисленные награды конкурса «Продукт года», данные продаж).

    .wrapper-slider-company#history
        .box-slider-company
            div
                img(src='img/company/Pic2.jpg' alt='').slider-company-img
                .slider-company-txt
                    .slider-company-txt_number 1978
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.
            div
                img(src='img/company/Pic2.jpg' alt='').slider-company-img
                .slider-company-txt
                    .slider-company-txt_number 2002
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

            div
                img(src='img/company/Pic2.jpg' alt='').slider-company-img
                .slider-company-txt
                    .slider-company-txt_number 2004
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

            div
                img(src='img/company/Pic2.jpg' alt='').slider-company-img
                .slider-company-txt
                    .slider-company-txt_number 2006
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

            div
                img(src='img/company/Pic2.jpg' alt='').slider-company-img
                .slider-company-txt
                    .slider-company-txt_number 2008
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

            div
                img(src='img/company/Pic2.jpg' alt='').slider-company-img
                .slider-company-txt
                    .slider-company-txt_number 2011
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

            div
                img(src='img/company/Pic2.jpg' alt='').slider-company-img
                .slider-company-txt
                    .slider-company-txt_number 2013
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

            div
                img(src='img/company/Pic2.jpg' alt='').slider-company-img
                .slider-company-txt
                    .slider-company-txt_number 2015
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

        .box-slider-company_nav
            a(href="javascript:undefined;").slider-nav.active 1978
            a(href="javascript:undefined;").slider-nav 2002
            a(href="javascript:undefined;").slider-nav 2004
            a(href="javascript:undefined;").slider-nav 2006
            a(href="javascript:undefined;").slider-nav 2008
            a(href="javascript:undefined;").slider-nav 2011
            a(href="javascript:undefined;").slider-nav 2013
            a(href="javascript:undefined;").slider-nav 2015


    .wrapper-slider-content#production-sites
        .swiper-slider-content
            .swiper-wrapper
                .swiper-slide
                    .container-slider-content
                        .container-slider-content_txt
                            .container-slider-content_txt-title Производственные площадки и мощности компании
                            .block-content_txt
                                .block-content_txt-title Фабрика бройлерного направления в д.Лежневка, Могилевский район
                                .block-content_txt-txt Производство, можностью 22 тыс. тонн в год. Изменение технологий выращивания птицы, реконструкция цеха убоя и переработки, новое упаковочное оборудование, отстройка бизнес процессов позволили существенно изменить качество сырой продукции из мяса птицы.
                        .container-slider-content_img(style="background-image:url('img/company/Pic3.jpg')")

                .swiper-slide
                    .container-slider-content
                        .container-slider-content_txt
                            .container-slider-content_txt-title Производственные площадки и мощности компании2
                            .block-content_txt
                                .block-content_txt-title Фабрика бройлерного направления в д.Лежневка, Могилевский район
                                .block-content_txt-txt Производство, можностью 22 тыс. тонн в год. Изменение технологий выращивания птицы, реконструкция цеха убоя и переработки, новое упаковочное оборудование, отстройка бизнес процессов позволили существенно изменить качество сырой продукции из мяса птицы.
                        .container-slider-content_img(style="background-image:url('img/company/Pic3.jpg')")

                .swiper-slide
                    .container-slider-content
                        .container-slider-content_txt
                            .container-slider-content_txt-title Производственные площадки и мощности компании3
                            .block-content_txt
                                .block-content_txt-title Фабрика бройлерного направления в д.Лежневка, Могилевский район
                                .block-content_txt-txt Производство, можностью 22 тыс. тонн в год. Изменение технологий выращивания птицы, реконструкция цеха убоя и переработки, новое упаковочное оборудование, отстройка бизнес процессов позволили существенно изменить качество сырой продукции из мяса птицы.
                        .container-slider-content_img(style="background-image:url('img/company/Pic3.jpg')")

            .swiper-button-next
                .icon-next
                    <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><title>right</title><g transform="matrix(-1 0 0 1 40 0)" fill="none" fill-rule="evenodd"><ellipse fill="#EB1C24" cx="19.967" cy="20" rx="19.967" ry="20"/><path d="M13.502 19.002L13.5 19l-.5.5.5.5.002-.002 9.927 9.84.538-.54-9.96-9.798 9.96-9.798-.54-.54-9.926 9.84z" fill="#FFF"/></g></svg>
            .swiper-button-prev
                .icon-prev
                    <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><title>right</title><g transform="matrix(-1 0 0 1 40 0)" fill="none" fill-rule="evenodd"><ellipse fill="#EB1C24" cx="19.967" cy="20" rx="19.967" ry="20"/><path d="M13.502 19.002L13.5 19l-.5.5.5.5.002-.002 9.927 9.84.538-.54-9.96-9.798 9.96-9.798-.54-.54-9.926 9.84z" fill="#FFF"/></g></svg>

    .wrapper-vacancies#vacancies
        .box-vacancies
            .box-vacancies-img
                img(src='img/company/Pic4.png' alt='').box-vacancies-img_img
            .box-vacancies-txt
                .box-vacancies-txt_title Карьерные возможности
                .box-vacancies-txt_bold Мы уделяем большое внимание нашему коллективу. Развитие сотрудников является основным приоритетом работы службы подбора персонала.
                .box-vacancies-txt_p Связаться с отделом по подбору персонала можно по телефону: <a href="callto:+375292232625">+375 29 223 26 25</a>
                a(href="#").btn-green Просмотреть все вакансии

