section.container-central-unit
    .wrapper-central-unit.animateThis(data-anim="fadeInUp")
        .container-row
            .container-link-anchor
                ul
                    li
                        a(href='#company').link-anchor-menu О компании

                    li
                        a(href='#history').link-anchor-menu История

                    li
                        a(href='#production-sites').link-anchor-menu Производственные площадки

                    li
                        a(href='#vacancies').link-anchor-menu Вакансии

            .wrapper-content#company
                .wrapper-content_title Торговая марка «Петруха» - это качественный производитель и поставщик куриного мяса.
                p Фактом констатации силы бренда «Петруха» является его признание среди профессионалов (победитель конкурса «Бренд года», дипломант Премии Правительства в области качества), а так же, на потребительском рынке (уровень знания бренда  составляет 81%, многочисленные награды конкурса «Продукт года», данные продаж).
            .wrapper-list-items
                // block items
                .block-list-items.animateThis(data-anim="fadeInUp" style='animation-delay: 0.52s;')
                    .block-list-items_icon
                        .icon-list-items(style='background-image:url("img/svg/icon-p-1.svg")')
                    .block-list-items_txt
                        .items_txt-title Лидер рынка
                        .items_text-title ТОП 10 производителей мяса в СНГ, №1 по производству мяса на рынке Беларуси

                // block items
                .block-list-items.animateThis(data-anim="fadeInUp" style='animation-delay: 0.6s;')
                    .block-list-items_icon
                        .icon-list-items(style='background-image:url("img/svg/icon-p-2.svg")')
                    .block-list-items_txt
                        .items_txt-title Крупнейшие площадки
                        .items_text-title 2 площадки по производству мяса птицы Серволюкс Агро и Смолевичи Бройлер

                // block items
                .block-list-items.animateThis(data-anim="fadeInUp" style='animation-delay: 0.68s;')
                    .block-list-items_icon
                        .icon-list-items(style='background-image:url("img/svg/icon-p-3.png")')
                    .block-list-items_txt
                        .items_txt-title Система безопасности
                        .items_text-title FSSC 22000 система безопасности пищевых продуктов, применяемая крупнейшими мировыми производителями

                // block items
                .block-list-items.animateThis(data-anim="fadeInUp" style='animation-delay: 0.76s;')
                    .block-list-items_icon
                        .icon-list-items(style='background-image:url("img/svg/icon-p-4.svg")')
                    .block-list-items_txt
                        .items_txt-title Натуральный продукт
                        .items_text-title Знак подтвержден Государственным комитетом по стандартизации Республики Беларусь

                // block items
                .block-list-items.animateThis(data-anim="fadeInUp" style='animation-delay: 0.84s;')
                    .block-list-items_icon
                        .icon-list-items(style='background-image:url("img/svg/icon-p-5.svg")')
                    .block-list-items_txt
                        .items_txt-title Халяль
                        .items_text-title Сертификат духовного управления мусульман Республики Беларусь

                // block items
                .block-list-items.animateThis(data-anim="fadeInUp" style='animation-delay: 0.92s;')
                    .block-list-items_icon
                        .icon-list-items(style='background-image:url("img/svg/icon-p-6.svg")')
                    .block-list-items_txt
                        .items_txt-title Собственный автопарк
                        .items_text-title Широкая география поставок: РБ, РФ, Кыргызстан, Таджикистан, Узбекистан, Армения, Китай.


    .wrapper-slider-company#history.animateThis(data-anim="fadeInUp")
        .box-slider-company
            div.slider-company-img(style='background-image:url("img/company/Pic2.jpg")')
                .slider-company-txt
                    .slider-company-txt_number 1978
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.
            div.slider-company-img(style='background-image:url("img/company/Pic2.jpg")')
                .slider-company-txt
                    .slider-company-txt_number 2002
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области. Основным рынком сбыта являлся рынок Могилевской области. Основным рынком сбыта являлся рынок Могилевской области.

            div.slider-company-img(style='background-image:url("img/company/Pic2.jpg")')
                .slider-company-txt
                    .slider-company-txt_number 2004
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

            div.slider-company-img(style='background-image:url("img/company/Pic2.jpg")')
                .slider-company-txt
                    .slider-company-txt_number 2006
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

            div.slider-company-img(style='background-image:url("img/company/Pic2.jpg")')
                .slider-company-txt
                    .slider-company-txt_number 2008
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

            div.slider-company-img(style='background-image:url("img/company/Pic2.jpg")')
                .slider-company-txt
                    .slider-company-txt_number 2011
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

            div.slider-company-img(style='background-image:url("img/company/Pic2.jpg")')
                .slider-company-txt
                    .slider-company-txt_number 2013
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

            div.slider-company-img(style='background-image:url("img/company/Pic2.jpg")')
                .slider-company-txt
                    .slider-company-txt_number 2015
                    .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

        .box-slider-company_nav
            a(href="javascript:undefined;").slider-nav.active 1978
            a(href="javascript:undefined;").slider-nav 2002
            a(href="javascript:undefined;").slider-nav 2004
            a(href="javascript:undefined;").slider-nav 2006
            a(href="javascript:undefined;").slider-nav 2008
            a(href="javascript:undefined;").slider-nav 2011
            a(href="javascript:undefined;").slider-nav 2013
            a(href="javascript:undefined;").slider-nav 2015


    .wrapper-slider-content#production-sites.animateThis(data-anim="fadeInUp")
        .container-slider-content_txt-title Производственные площадки и мощности компании
        .swiper-slider-content
            .swiper-wrapper
                .swiper-slide
                    .container-slider-content
                        .container-slider-content_txt
                            //.container-slider-content_txt-title Производственные площадки и мощности компании
                            .block-content_txt
                                .block-content_txt-title Бройлерная птицефабрика в а/г Межисетки, Могилевский район, Могилевская область
                                .block-content_txt-txt Современная площадка по откорму цыплят бройлеров и производству мяса птицы, мощностью свыше 80 000 тонн в живом весе. Обладает уникальными в своей отрасли очистными сооружениями, гарантирующими безопасность производства для окружающей среды.
                        .container-slider-content_img(style="background-image:url('img/company/Pic3.jpg')")

                .swiper-slide
                    .container-slider-content
                        .container-slider-content_txt
                            //.container-slider-content_txt-title Производственные площадки и мощности компании2
                            .block-content_txt
                                .block-content_txt-title Бройлерная птицефабрика в п. Октябрьский, Смолевичский район, Минская область
                                .block-content_txt-txt Крупнейшая площадка по производству мяса птицы, мощностью более 100 000 тонн птицы в живом весе в год. На территории площадки располагается инновационная производственно-бактериологическая лаборатория гарантирующая исключительное качество и безопасность выпускаемой продукции.
                        .container-slider-content_img(style="background-image:url('img/company/Pic3.jpg')")

                .swiper-slide
                    .container-slider-content
                        .container-slider-content_txt
                            //.container-slider-content_txt-title Производственные площадки и мощности компании3
                            .block-content_txt
                                .block-content_txt-title Фабрика родительского стада в г. Быхове, Могилевская область
                                .block-content_txt-txt Крупнейшая площадка по производству мяса птицы, мощностью более 100 000 тонн птицы в живом весе в год. На территории площадки располагается инновационная производственно-бактериологическая лаборатория гарантирующая исключительное качество и безопасность выпускаемой продукции.
                        .container-slider-content_img(style="background-image:url('img/company/Pic3.jpg')")

            .swiper-button-next
                .icon-next
                    <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><title>right</title><g transform="matrix(-1 0 0 1 40 0)" fill="none" fill-rule="evenodd"><ellipse fill="#EB1C24" cx="19.967" cy="20" rx="19.967" ry="20"/><path d="M13.502 19.002L13.5 19l-.5.5.5.5.002-.002 9.927 9.84.538-.54-9.96-9.798 9.96-9.798-.54-.54-9.926 9.84z" fill="#FFF"/></g></svg>
            .swiper-button-prev
                .icon-prev
                    <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><title>right</title><g transform="matrix(-1 0 0 1 40 0)" fill="none" fill-rule="evenodd"><ellipse fill="#EB1C24" cx="19.967" cy="20" rx="19.967" ry="20"/><path d="M13.502 19.002L13.5 19l-.5.5.5.5.002-.002 9.927 9.84.538-.54-9.96-9.798 9.96-9.798-.54-.54-9.926 9.84z" fill="#FFF"/></g></svg>

    .wrapper-vacancies#vacancies.animateThis(data-anim="fadeInUp")
        .box-vacancies
            .box-vacancies-img
                img(src='img/company/Pic4.png' alt='').box-vacancies-img_img
            .box-vacancies-txt
                .box-vacancies-txt_title Карьерные возможности
                .box-vacancies-txt_bold Мы уделяем большое внимание нашему коллективу. Развитие сотрудников является основным приоритетом работы службы подбора персонала.
                .box-vacancies-txt_p Связаться с отделом по подбору персонала можно по телефону: <a href="callto:+375292232625">+375 29 223 26 25</a>
                a(href="#").btn-green Просмотреть все вакансии

