section.container-central-unit.gray.animateThis(data-anim="fadeInUp")
    .wrapper-central-unit

        .container-contact-row
            .container-tabs-btn.row-tabs-company
                .tabs-link.current-t(data-tab-c="tab-contacts-1") Общие
                .tabs-link(data-tab-c="tab-contacts-2") Продажи
                .tabs-link(data-tab-c="tab-contacts-3") Закупки
                .tabs-link(data-tab-c="tab-contacts-4") Логистика
            #tab-contacts-1.container-contact.tabs-content.current-t
                .wrapper-contact_big-title Общие контакты
                .container-telephone-hotline-f
                    .block-label-txt.telefon
                        .block-label Телефон горячей линии по Беларуси:
                        a(href='callto: +375249600100').block-telefon_txt +375 24 960 01 00
                    .block-label-txt.email
                        .block-label E-mail:
                        a(href='mailto: petruha@servolux.by').block-email_txt petruha@servolux.by
                        .block-label-txt_txt Для связи со специализированными службами компании заполните форму обратной связи по кнопке.
                    .block-btn
                        .btn-green.js-btn Обратная связь

            #tab-contacts-2.container-contact.tabs-content
                .wrapper-contact_big-title Отдел продаж
                .wrapper-contact_list
                    .wrapper-contact_list-title Беларусь
                    .wrapper-contact_block
                        .wrapper-contact_block-row
                            .label Телефон:
                            .text
                                a.telefon(href='callto: +375249600100') +375 24 960 01 00
                        .wrapper-contact_block-row.email
                            .label E-mail:
                            .text
                                a.email(href='mailto: petruha@servolux.by') petruha@servolux.by

                .wrapper-contact_list
                    .wrapper-contact_list-title Россия
                    .wrapper-contact_block
                        .wrapper-contact_block-row
                            .label Телефон:
                            .text
                                a.telefon(href='callto: +74956516106') +7 495 651 61 06
                        .wrapper-contact_block-row
                            .label
                            .text
                                a.telefon(href='callto: +74956516106') +7 495 651 61 06
                        .wrapper-contact_block-row.email
                            .label E-mail:
                            .text
                                a.email(href='mailto: petruha@servolux.by') petruha@servolux.by

                .wrapper-contact_list
                    .wrapper-contact_list-title Внешнеэкономическая деятельность
                    .wrapper-contact_block
                        .wrapper-contact_block-row
                            .label Телефон:
                            .text
                                a.telefon(href='callto: +375297471876') +375 29 747 18 76

                        .wrapper-contact_block-row.email
                            .label E-mail:
                            .text
                                a.email(href='mailto: nataliiya.voloshyna@servolux.com') nataliiya.voloshyna@servolux.com
                        .wrapper-contact_block-row.email
                            .label
                            .text
                                a.email(href='mailto: nataliiya.voloshyna@servolux.com') nataliiya.voloshyna@servolux.com
                .block-btn.sales
                    .btn-green.js-btn Обратная связь

            #tab-contacts-3.container-contact.tabs-content
                .wrapper-contact_big-title Отдел закупок
                .wrapper-contact_list
                    .wrapper-contact_list-title Беларусь и Россия
                    .wrapper-contact_block
                        .wrapper-contact_block-row
                            .label Телефон:
                            .text
                                a.telefon(href='callto: +375297471883') +375 29 747 18 83
                        .wrapper-contact_block-row
                            .label
                            .text
                                a.telefon(href='callto: +375297471011') +375 29 747 10 11
                        .wrapper-contact_block-row.email
                            .label E-mail:
                            .text
                                a.email(href='mailto: konstantin.silukov@servolux.com') konstantin.silukov@servolux.com
            #tab-contacts-4.container-contact.tabs-content
                .wrapper-contact_big-title Отдел логистики
                .wrapper-contact_list
                    .wrapper-contact_list-title Беларусь и Россия
                    .wrapper-contact_block
                        .wrapper-contact_block-row
                            .label Телефон:
                            .text
                                a.telefon(href='callto: +375297471883') +375 29 747 18 83
                        .wrapper-contact_block-row.email
                            .label E-mail:
                            .text
                                a.email(href='mailto: sergey.kalmykov@servolux.by') sergey.kalmykov@servolux.by

