section.container-central-unit.gray
    .wrapper-central-unit
        .container-row
            a(href='#').central-title.revealator-slideup.revealator-delay2.revealator-duration3.revealator-once
                span.central-title_txt Новости
                span.central-title_icon

            .container-sorting
                label.txt-sorting Сортировать:
                select.select-box.select2
                    option(value='1') По популярности
                    option(value='2') По цене
                    option(value='3') По рейтингу

            .container-block-row
                a(href='#').block-text-outside.revealator-slideup.revealator-delay2.revealator-duration3.revealator-once
                    .block-text-outside_img
                        img(src='img/news/Bitmap1.jpg' alt='')
                    .block-text-outside_wrapper
                        .block-text-outside_title Лидирующие позиции рейтинга Беларуси
                        .block-text-outside_txt Компания «Сервалюкс Агро» вошла в рейтинг крупнейших компаний Беларуси.
                        .block-text-outside_data 8 августа 2017

                a(href='#').block-text-outside.revealator-slideup.revealator-delay4.revealator-duration3.revealator-once
                    .block-text-outside_img
                        img(src='img/news/Bitmap2.jpg' alt='')
                        .block-info_text-section НОВИНКА
                    .block-text-outside_wrapper
                        .block-text-outside_title Новинка – Плечевая и локтевая части крыла «От Петрухи»!
                        .block-text-outside_txt Приятная новость для любителей крылышек – готовить любимую часть курицы стало удобнее.
                        .block-text-outside_data 8 августа 2017

                a(href='#').block-text-outside.revealator-slideup.revealator-delay6.revealator-duration3.revealator-once
                    .block-text-outside_img
                        img(src='img/news/Bitmap3.jpg' alt='')
                    .block-text-outside_wrapper
                        .block-text-outside_title Участвуйте в розыгрыше призов!
                        .block-text-outside_txt Пришло время протестировать свои ежедневные привычки и расскахать нам о них на нашем сайте!
                        .block-text-outside_data 8 августа 2017


                a(href='#').block-text-outside.revealator-slideup.revealator-delay2.revealator-duration3.revealator-once
                    .block-text-outside_img
                        img(src='img/news/Bitmap4.jpg' alt='')
                        .block-info_text-section НОВИНКА
                    .block-text-outside_wrapper
                        .block-text-outside_title Новинка – Мякоть бедра без кости «От Петрухи»!
                        .block-text-outside_txt Если вы не знаете, что приготовить на обед или ужин, мы предлагаем вам новый продукт – мякоть бедра.
                        .block-text-outside_data 8 августа 2017

                a(href='#').block-text-outside.revealator-slideup.revealator-delay4.revealator-duration3.revealator-once
                    .block-text-outside_img
                        img(src='img/news/Bitmap5.jpg' alt='')
                    .block-text-outside_wrapper
                        .block-text-outside_title Вкусная новинка! Мясо птицы  в маринаде «Гурме Гриль»!
                        .block-text-outside_txt Приятная новость для любителей крылышек – готовить любимую часть курицы стало удобнее.
                        .block-text-outside_data 8 августа 2017

                a(href='#').block-text-outside.revealator-slideup.revealator-delay6.revealator-duration3.revealator-once
                    .block-text-outside_img
                        img(src='img/news/Bitmap6.jpg' alt='')
                    .block-text-outside_wrapper
                        .block-text-outside_title Петруха: Каждому празднику свое блюдо
                        .block-text-outside_txt Пришло время протестировать свои ежедневные привычки и расскахать нам о них на нашем сайте!
                        .block-text-outside_data 8 августа 2017
