section.container-central-unit
    .wrapper-central-unit
        .container-tabs-btn.row-tabs
            .tabs-link(data-tab-c="tab-c-1") Все
            .tabs-link.current-t(data-tab-c="tab-c-2") "Петруха"
            .tabs-link(data-tab-c="tab-c-3") "Петруха Мастер"
            .tabs-link(data-tab-c="tab-c-4") "Петруха Просто"
            .tabs-link(data-tab-c="tab-c-5") "Петруха Микс"
            .tabs-link(data-tab-c="tab-c-6") "Петруха Халяль"

        .container-product
            .wrapper-product-subbrand
                .block-product-subbrand
                    .block-product-subbrand_title «Петруха» — любимый продукт.
                    .block-product-subbrand_doc
                        a(href='#').block-doc
                            .block-doc_icon.catalog
                            .block-doc-info
                                .block-doc-info_title Каталог продукции 2017
                                .block-doc-info_r JPG, 2,5 Мб
                        a(href='#').block-doc
                            .block-doc_icon.archiv
                            .block-doc-info
                                .block-doc-info_title Архив изображений
                                .block-doc-info_r JPG, 2,5 Мб

                .block-product-subbrand