section.container-central-unit.gray
    .wrapper-central-unit
        .container-telephone-hotline-f
            .block-label-txt.telefon
                .block-label Телефон горячей линии по Беларуси:
                a(href='callto: +375249600100').block-telefon_txt +375 24 960 01 00
            .block-label-txt.email
                .block-label E-mail:
                a(href='mailto: petruha@servolux.by').block-email_txt petruha@servolux.by
            .block-btn
                .btn-green.js-btn Обратная связь
        .container-contact-row
            .wrapper-contact_big-title Общие контакты служб для Беларуси и России
            .wrapper-contact_list
                .wrapper-contact_list-title Общие вопросы
                .wrapper-contact_block
                    .wrapper-contact_block-row
                        .label Телефон:
                        .text
                            a.telefon(href='callto: +375249600100') +375 24 960 01 00
                    .wrapper-contact_block-row.email
                        .label E-mail:
                        .text
                            a.email(href='mailto: petruha@servolux.by') petruha@servolux.by

            .wrapper-contact_list
                .wrapper-contact_list-title Отдел маркетинга
                .wrapper-contact_block
                    .wrapper-contact_block-row
                        .label Телефон:
                        .text
                            a.telefon(href='callto: +375297472071') +375 29 747 20 71
                    .wrapper-contact_block-row.email
                        .label E-mail:
                        .text
                            a.email(href='mailto: anastasia.prischep@servolux.by') anastasia.prischep@servolux.by

            .wrapper-contact_list
                .wrapper-contact_list-title Отдел логистики
                .wrapper-contact_block
                    .wrapper-contact_block-row
                        .label Телефон:
                        .text
                            a.telefon(href='callto: +375297471883') +375 29 747 18 83
                    .wrapper-contact_block-row.email
                        .label E-mail:
                        .text
                            a.email(href='mailto: sergey.kalmykov@servolux.by') sergey.kalmykov@servolux.by

            .wrapper-contact_list
                .wrapper-contact_list-title Отдел закупок
                .wrapper-contact_block
                    .wrapper-contact_block-row
                        .label Телефон:
                        .text
                            a.telefon(href='callto: +375297471883') +375 29 747 18 83
                    .wrapper-contact_block-row
                        .label
                        .text
                            a.telefon(href='callto: +375297471011') +375 29 747 10 11
                    .wrapper-contact_block-row.email
                        .label E-mail:
                        .text
                            a.email(href='mailto: konstantin.silukov@servolux.com') konstantin.silukov@servolux.com


        .container-contact-row
            .wrapper-contact_big-title Отдел продаж
            .wrapper-contact_list
                .wrapper-contact_list-title Беларусь
                .wrapper-contact_block
                    .wrapper-contact_block-row
                        .label Телефон:
                        .text
                            a.telefon(href='callto: +375249600100') +375 24 960 01 00
                    .wrapper-contact_block-row.email
                        .label E-mail:
                        .text
                            a.email(href='mailto: petruha@servolux.by') petruha@servolux.by

            .wrapper-contact_list
                .wrapper-contact_list-title Россия
                .wrapper-contact_block
                    .wrapper-contact_block-row
                        .label Телефон:
                        .text
                            a.telefon(href='callto: +74956516106') +7 495 651 61 06
                    .wrapper-contact_block-row.email
                        .label E-mail:
                        .text
                            a.email(href='mailto: petruha@servolux.by') petruha@servolux.by

            .wrapper-contact_list
                .wrapper-contact_list-title Внешнеэкономическая деятельность
                .wrapper-contact_block
                    .wrapper-contact_block-row
                        .label Телефон:
                        .text
                            a.telefon(href='callto: +375297471876') +375 29 747 18 76

                    .wrapper-contact_block-row.email
                        .label E-mail:
                        .text
                            a.email(href='mailto: nataliiya.voloshyna@servolux.com') nataliiya.voloshyna@servolux.com
