section.container-central-unit.gray
    .wrapper-central-unit
        .container-row

            a(href='#').central-title.revealator-slideup.revealator-delay.revealator-duration3.revealator-once
                span.central-title_txt Новости
                span.central-title_icon

            .container-block-row
                a(href="#").wrapper-big-block.revealator-slideup.revealator-delay.revealator-duration3.revealator-once
                    .wrapper-big-block-text
                        .wrapper-big-block_data 8 августа 2017
                        .wrapper-big-block_text
                            .wrapper-big-block_title Лидирующие позиции рейтинга Беларуси
                            .wrapper-big-block_txt Компания «Сервалюкс Агро» вошла в рейтинг крупнейших компаний Беларуси.
                    img(src='img/new/Bitmap.jpg').wrapper-big-block_img

                .wrapper-small-block
                    a(href="#").block-small-link.revealator-slideup.revealator-delay2.revealator-duration3.revealator-once
                        .block-small-link_title Петруха: Каждому празднику свое блюдо
                        .block-small-link_txt Вместе с шеф-поварами Беларуси мы разработали идеальные рецепты из куриного мяса на любой вкус.
                        .block-small-link_data 9 августа 2017

                    a(href="#").block-small-link.revealator-slideup.revealator-delay4.revealator-duration3.revealator-once
                        .block-small-link_title Лидирующие позиции рейтинга Беларуси
                        .block-small-link_txt Компания «Сервалюкс Агро» вошла в рейтинг крупнейших компаний Беларуси.
                        .block-small-link_data 10 августа 2017
