section.container-central-unit.gray
    .wrapper-central-unit
        .container-row
            a(href='#').central-title.revealator-slideup.revealator-delay2.revealator-duration6.revealator-once
                span.central-title_txt Акции
                span.central-title_icon

            .container-block-row
                a(href='#').block-text-outside.revealator-slideup.revealator-delay2.revealator-duration3.revealator-once
                    .block-text-outside_img
                        img(src='img/shares/Bitmap.jpg' alt='')
                        .block-info_text-section АКТУАЛЬНАЯ
                    .block-text-outside_wrapper
                        .block-text-outside_title «Микс» стал ещё выгоднее!
                        .block-text-outside_txt Теперь Вы можете приобрести свои любимые части курочки в одной упаковке дешевле!
                        .block-text-outside_data 8 августа 2017

                a(href='#').block-text-outside.revealator-slideup.revealator-delay4.revealator-duration3.revealator-once
                    .block-text-outside_img
                        img(src='img/shares/Bitmap2.jpg' alt='')
                        .block-info_text-section АКТУАЛЬНАЯ
                    .block-text-outside_wrapper
                        .block-text-outside_title «Гарантируем удачу!»
                        .block-text-outside_txt Участвуй в акции от Петруха Мастер! Регистрируй чеки, выкладывай фотки, выигрывай призы!
                        .block-text-outside_data 8 августа 2017

                a(href='#').block-text-outside.revealator-slideup.revealator-delay6.revealator-duration3.revealator-once
                    .block-text-outside_img
                        img(src='img/shares/Bitmap3.jpg' alt='')
                    .block-text-outside_wrapper
                        .block-text-outside_title Участвуйте в розыгрыше призов!
                        .block-text-outside_txt Пришло время протестировать свои ежедневные привычки и расскахать нам о них на нашем сайте!
                        .block-text-outside_data 8 августа 2017
