section.container-central-unit.animateThis(data-anim="fadeInUp")
    .wrapper-central-unit
        .container-tabs-btn.row-tabs
            .tabs-link.current-t(data-tab-c="tab-c-1") Все
            .tabs-link(data-tab-c="tab-c-2") "Петруха"
            .tabs-link(data-tab-c="tab-c-3") "Петруха Мастер"
            .tabs-link(data-tab-c="tab-c-4") "Петруха Просто"
            .tabs-link(data-tab-c="tab-c-5") "Петруха Микс"
            .tabs-link(data-tab-c="tab-c-6") "Петруха Халяль"

        .container-product
            .wrapper-product-subbrand
                .block-product-subbrand.w-100
                    .block-product-subbrand_doc
                        a(href='#' download).block-doc
                            .block-doc_icon.catalog
                            .block-doc-info
                                .block-doc-info_title Каталог продукции 2017
                                .block-doc-info_r JPG, 2,5 Мб
                        a(href='#' download).block-doc
                            .block-doc_icon.archiv
                            .block-doc-info
                                .block-doc-info_title Архив изображений
                                .block-doc-info_r JPG, 2,5 Мб
            .wrapper-block-product
                .block-product.animateThis(data-anim="fadeInUp" style='animation-delay: 0.52s;')
                    .wrapper-product
                        a(href="#").central-title
                            span.central-title_txt Продукты
                            span.central-title_icon
                        .central-text Любой продукт ТМ «Петруха» — основа здорового питания. Мы заботимся о здоровье наших покупателей и контролируем качество продукции на всех этапах производства.

                a(href="#").block-product.animateThis(data-anim="fadeInUp" style='animation-delay: 0.6s;')
                    img(src='img/product/img-4.jpg' alt='').block-product-img
                    .wrapper-product
                        .wrapper-product_logo(style='background-image:url("img/logo-product/logo-1.jpg")')
                        .wrapper-product_text
                            .wrapper-product_text-title КАЧЕСТВО <br> И НАТУРАЛЬНОСТЬ
                            .wrapper-product_text-txt от кормов до готового продукта

                a(href="#").block-product.animateThis(data-anim="fadeInUp" style='animation-delay: 0.68s;')
                    img(src='img/product/img-2.jpg' alt='').block-product-img
                    .wrapper-product
                        .wrapper-product_logo(style='background-image:url("img/logo-product/logo-2.png")')
                        .wrapper-product_text
                            .wrapper-product_text-title ВСЕГДА <br> ПОЛУЧАЕТСЯ
                            .wrapper-product_text-txt

                a(href="#").block-product.animateThis(data-anim="fadeInUp" style='animation-delay: 0.76s;')
                    img(src='img/product/img-5.jpg' alt='').block-product-img
                    .wrapper-product
                        .wrapper-product_logo(style='background-image:url("img/logo-product/logo-3.png")')
                        .wrapper-product_text
                            .wrapper-product_text-title ПРОСТЫЕ <br> РЕШЕНИЯ
                            .wrapper-product_text-txt на каждый день

                a(href="#").block-product.animateThis(data-anim="fadeInUp" style='animation-delay: 0.84s;')
                    img(src='img/product/img-1.jpg' alt='').block-product-img
                    .wrapper-product
                        .wrapper-product_logo(style='background-image:url("img/logo-product/logo-4.png")')
                        .wrapper-product_text
                            .wrapper-product_text-title ВЫГОДНАЯ <br>ПОКУПКА
                            .wrapper-product_text-txt для большой семьи

                a(href="#").block-product.animateThis(data-anim="fadeInUp" style='animation-delay: 0.92s;')
                    img(src='img/product/img-3.jpg' alt='').block-product-img
                    .wrapper-product
                        .wrapper-product_logo(style='background-image:url("img/logo-product/logo-1.jpg")')
                        .wrapper-product_text
                            .wrapper-product_text-title КАЧЕСТВО <br> И НАТУРАЛЬНОСТЬ
                            .wrapper-product_text-txt от кормов до готового продукта
