section.container-central-unit.gray
    .wrapper-central-unit
        .container-row
            a(href='#').central-title
                span.central-title_txt Рецепты
                span.central-title_icon

            .container-sorting
                label.txt-sorting Сортировать:
                select.select-box.select2
                    option(value='1') По популярности
                    option(value='2') По цене
                    option(value='3') По рейтингу

            .container-filter
                .wrapper-filter
                    span.wrapper-filter-title Фильтр:

                    .block-filter
                        .button-dropdown
                            span.filter-button-dropdown
                                span.filter_count.hidden
                                span.filter_title Ингредиенты
                                span.filter_value.hidden
                            .dropdown

                    .block-filter
                        .button-dropdown
                            span.filter-button-dropdown
                                span.filter_count.hidden
                                span.filter_title Блюда
                                span.filter_value.hidden
                            .dropdown

                    .button-reset-filter Очистить фильтр

            .container-block-row
                a(href='#').block-text-inside
                    .wrapper-text-inside
                        img.wrapper-text-inside_img(src='img/recipe/Bitmap1.jpg' alt='')
                        .block-info_text-section КУРИНАЯ ГРУДКА
                        .block-text-inside
                            .block-text-inside_title САЛАТ
                            .block-text-inside_txt из курицы и хурмы
                    .block-text-inside_outside
                        .block-text-inside_outside-time
                            span.icon-time
                            | 60 мин
                        .block-text-inside_outside-servings
                            span.icon-servings
                            | 2 порции

                a(href='#').block-text-inside
                    .wrapper-text-inside
                        img(src='img/recipe/Bitmap2.jpg').wrapper-text-inside_img
                        .block-info_text-section МЯКОТЬ БЕДРА
                        .block-text-inside
                            .block-text-inside_title МЯКОТЬ БЕДРА
                            .block-text-inside_txt в имбирном соусе от «Петрухи»
                    .block-text-inside_outside
                        .block-text-inside_outside-time
                            span.icon-time
                            | 40 мин
                        .block-text-inside_outside-servings
                            span.icon-servings
                            | 4 порции

                a(href='#').block-text-inside
                    .wrapper-text-inside
                        img(src='img/recipe/Bitmap3.jpg').wrapper-text-inside_img
                        .block-info_text-section МЯКОТЬ БЕДРА
                        .block-text-inside
                            .block-text-inside_title МЯКОТЬ БЕДРА
                            .block-text-inside_txt с баклажанами по-азиатски от «Петрухи»
                    .block-text-inside_outside
                        .block-text-inside_outside-time
                            span.icon-time
                            | 60 мин
                        .block-text-inside_outside-servings
                            span.icon-servings
                            | 2 порции


                a(href='#').block-text-inside
                    .wrapper-text-inside
                        img.wrapper-text-inside_img(src='img/recipe/Bitmap4.jpg' alt='')
                        .block-info_text-section КУРИНЫЕ ГУЗКИ
                        .block-text-inside
                            .block-text-inside_title КУРИНЫЕ ГУЗКИ
                            .block-text-inside_txt в кисло-сладком соусу от «Петрухи»
                    .block-text-inside_outside
                        .block-text-inside_outside-time
                            span.icon-time
                            | 60 мин
                        .block-text-inside_outside-servings
                            span.icon-servings
                            | 2 порции

                a(href='#').block-text-inside
                    .wrapper-text-inside
                        img(src='img/recipe/Bitmap5.jpg').wrapper-text-inside_img
                        .block-info_text-section КУРИНЫЕ ШЕИ
                        .block-text-inside
                            .block-text-inside_title КУРИНЫЕ ШЕИ
                            .block-text-inside_txt со сметанно-горчичным соусом  от «Петрухи»
                    .block-text-inside_outside
                        .block-text-inside_outside-time
                            span.icon-time
                            | 60 мин
                        .block-text-inside_outside-servings
                            span.icon-servings
                            | 2 порции

                a(href='#').block-text-inside
                    .wrapper-text-inside
                        img(src='img/recipe/Bitmap6.jpg').wrapper-text-inside_img
                        .block-info_text-section КУРИНЫЕ КРЫЛЬЯ
                        .block-text-inside
                            .block-text-inside_title КУРИНЫЕ КРЫЛЬЯ
                            .block-text-inside_txt в медово-соевом маринаде от «Петрухи»
                    .block-text-inside_outside
                        .block-text-inside_outside-time
                            span.icon-time
                            | 60 мин
                        .block-text-inside_outside-servings
                            span.icon-servings
                            | 2 порции
