extends _layout

block content
    main#barba-wrapper
        section.barba-container
            .container-main
                include includes/slider-header
                include includes/container-block-info

