block content
    .cont-index(style='width: 1000px; margin: 0 auto;')
        h2 Список страниц
        ul
            li
                a(href='index1.html') Главная

            li
                a(href='contact.html') Контакты



