extends _layout

block content
    main#barba-wrapper
        section.barba-container
            .container-main
                include includes/search-block
                include includes/_header
                include includes/container-subbrand
                include includes/container-navigation